{% load static %}
<footer class="footer">
  <div class="container footer__grid">

    <div class="footer__left">

      <div class="footer__logo">
        NML
      </div>

      <div class="footer__contacts">
        <h4>Контакты</h4>

        <p>
          nmldigital.ukraine@gmail.com
        </p>

        <p>
          +380 93 780 99 66
        </p>
      </div>


      <div class="footer__social">

        <a href="#">
          <img src="{% static 'images/icons/f1.svg' %}">
        </a>

        <a href="#">
          <img src="{% static 'images/icons/f2.svg' %}">
        </a>

        <a href="#">
          <img src="{% static 'images/icons/f3.svg' %}">
        </a>

      </div>


      <div class="footer__copy">
        (c)All Rights Reserved - 2025
      </div>

    </div>


    <div class="footer__right">

      <div class="footer__col">
        <h4>Маркетинг</h4>

        <a href="#">SEO-продвижение</a>
        <a href="#">Google Ads (PPC)</a>
        <a href="#">SMM-продвижение</a>
        <a href="#">Таргетированная реклама</a>

      </div>


      <div class="footer__col">
        <h4>Компания</h4>

        <a href="#">О нас</a>
        <a href="#">Кейсы</a>
        <a href="#">Контакты</a>
        <a href="#">Блог</a>

      </div>

    </div>

  </div>
</footer>