{% load static %}

<section class="clients">
    <div class="container">
        <h2 class="clients__title">Ваш бизнес готов расти с нами?</h2>
        <p class="clients__subtitle">Лучшие каналы продвижения для вашей индустрии</p>
    </div>

    <!-- Перша строка (ліворуч) -->
    <div class="clients__slider" data-speed="1">
        <div class="clients__track" id="track1">
            <img src="{% static 'images/brands/brand1.png' %}" alt="Brand 1">
            <img src="{% static 'images/brands/brand2.png' %}" alt="Brand 2">
            <img src="{% static 'images/brands/brand3.png' %}" alt="Brand 3">
            <img src="{% static 'images/brands/brand4.png' %}" alt="Brand 4">
            <img src="{% static 'images/brands/brand5.png' %}" alt="Brand 5">
            <img src="{% static 'images/brands/brand6.png' %}" alt="Brand 6">
        </div>
    </div>

    <!-- Друга строка (праворуч, reverse) -->
    <div class="clients__slider reverse" data-speed="1">
        <div class="clients__track" id="track2">
            <img src="{% static 'images/brands/brand7.png' %}" alt="Brand 7">
            <img src="{% static 'images/brands/brand8.png' %}" alt="Brand 8">
            <img src="{% static 'images/brands/brand9.png' %}" alt="Brand 9">
            <img src="{% static 'images/brands/brand10.png' %}" alt="Brand 10">
            <img src="{% static 'images/brands/brand11.png' %}" alt="Brand 11">
            <img src="{% static 'images/brands/brand12.png' %}" alt="Brand 12">
        </div>
    </div>
</section>

<section class="partners-mobile">
        <div class="container">
        <h2 class="clients__title">Ваш бизнес готов расти с нами?</h2>
        <p class="clients__subtitle">Лучшие каналы продвижения для вашей индустрии</p>
    </div>
  <div class="partners-grid">

    <div class="partner"><img src="{% static 'images/brands/brand1.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand2.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand3.png' %}" alt=""></div>

    <div class="partner"><img src="{% static 'images/brands/brand4.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand5.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand6.png' %}" alt=""></div>

    <div class="partner"><img src="{% static 'images/brands/brand7.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand8.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand9.png' %}" alt=""></div>

    <div class="partner"><img src="{% static 'images/brands/brand10.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand11.png' %}" alt=""></div>
    <div class="partner"><img src="{% static 'images/brands/brand12.png' %}" alt=""></div>

  </div>
</section>