   {% load static %}
   <section class="clients">
                <div class="container">
                    <h2 class="clients__title">
                        Ваш бизнес готов <span class="results-section__title-circle">расти с нами</span>?
                    </h2>

                    <p class="clients__subtitle">
                        Лучшие каналы продвижения для вашей индустрии
                    </p>
                </div>

                <!-- первая строка -->
                <div class="clients__slider">
                    <div class="clients__track">
                        <img src="{% static 'images/brands/brand1.png' %}" />
                        <img src="{% static 'images/brands/brand2.png' %}" />
                        <img src="{% static 'images/brands/brand3.png' %}" />
                        <img src="{% static 'images/brands/brand4.png' %}" />
                        <img src="{% static 'images/brands/brand5.png' %}" />
                        <img src="{% static 'images/brands/brand6.png' %}" />

                        <!-- duplicate -->
                        <img src="{% static 'images/brands/brand1.png' %}" />
                        <img src="{% static 'images/brands/brand2.png' %}" />
                        <img src="{% static 'images/brands/brand3.png' %}" />
                        <img src="{% static 'images/brands/brand4.png' %}" />
                        <img src="{% static 'images/brands/brand5.png' %}" />
                        <img src="{% static 'images/brands/brand6.png' %}" />
                    </div>
                </div>

                <!-- вторая строка -->
                <div class="clients__slider reverse">
                    <div class="clients__track">
                        <img src="{% static 'images/brands/brand6.png' %}" />
                        <img src="{% static 'images/brands/brand8.png' %}" />
                        <img src="{% static 'images/brands/brand9.png' %}" />
                        <img src="{% static 'images/brands/brand10.png' %}" />
                        <img src="{% static 'images/brands/brand11.png' %}" />
                        <img src="{% static 'images/brands/brand12.png' %}" />

                        <!-- duplicate -->
                        <img src="{% static 'images/brands/brand7.png' %}" />
                        <img src="{% static 'images/brands/brand8.png' %}" />
                        <img src="{% static 'images/brands/brand9.png' %}" />
                        <img src="{% static 'images/brands/brand10.png' %}" />
                        <img src="{% static 'images/brands/brand11.png' %}" />
                        <img src="{% static 'images/brands/brand12.png' %}" />
                    </div>
                </div>
            </section>