{% load static %}
<section class="services">
    <div class="container">
        <div class="services__top">
            <div class="services__head">
                <p class="services__subtitle">
                    Получите бесплатную консультацию!
                </p>
                <h2 class="services__title">Комплексные решения и услуги</h2>
            </div>

            <div class="services__note">
                Привлекайте трафик и клиентов с максимальным ROMI. Что для вас в
                приоритете?
            </div>
        </div>

        <div class="services__grid">
            <article class="service-card">
                <h3 class="service-card__title">SEO-продвижение</h3>

                <p class="service-card__text">
                    Получайте органический трафик и клиентов из Google и
                    ChatGPT, которые прямо сейчас ищут ваши товары, услуги или
                    решения.
                </p>

                <div class="service-card__tags">
                    <span class="service-card__tag">Local SEO</span>
                    <span class="service-card__tag">Линкбилдинг</span>
                    <span class="service-card__tag">SEO-контент</span>
                </div>

                <a href="#" class="service-card__btn open-modal">Подробнее</a>
            </article>

            <article class="service-card">
                <h3 class="service-card__title">Google Ads (PPC)</h3>

                <p class="service-card__text">
                    Показываем ваш сайт именно тогда, когда его хотят видеть.
                    Горячие лиды и быстрые продажи с высоким ROMI благодаря
                    рекламе Google.
                </p>

                <div class="service-card__tags">
                    <span class="service-card__tag">Google</span>
                    <span class="service-card__tag">Performance Max</span>
                    <span class="service-card__tag">Контекстная реклама</span>
                </div>

                <a href="#" class="service-card__btn open-modal">Подробнее</a>
            </article>

            <article class="service-card">
                <h3 class="service-card__title">Веб-разработка</h3>

                <p class="service-card__text">
                    Мы создаем современные сайты, которые не просто выглядят стильно, но и действительно способствуют продажам. Продуманная структура, быстрая загрузка и удобный интерфейс, побуждающий пользователя к действию.
                </p>

                <div class="service-card__tags">
                    <span class="service-card__tag">Landing Page</span>
                    <span class="service-card__tag">Интернет-магазины</span>
                </div>

                <a href="#" class="service-card__btn open-modal">Подробнее</a>
            </article>

            <article class="service-card">
                <h3 class="service-card__title">
                    Таргетированная реклама в Telegram
                </h3>

                <p class="service-card__text">
                    Мы помогаем компаниям запускать проекты с нуля, формировать
                    базу первых клиентов и увеличивать поток обращений именно
                    через таргетинг в Телеграм.
                </p>

                <div class="service-card__tags">
                    <span class="service-card__tag">Telegram</span>
                    <span class="service-card__tag">Реклама</span>
                </div>

                <a href="#" class="service-card__btn open-modal">Подробнее</a>
            </article>

            <article class="service-card">
                <h3 class="service-card__title">Аудит по действующим рекламным кампаниям</h3>

                <p class="service-card__text">
                    Мы анализируем текущие кампании, выявляем точки роста и предлагаем оптимизации, которые позволят достичь максимальных результатов.
                </p>

                <div class="service-card__tags">
                    <span class="service-card__tag">Instagram</span>
                    <span class="service-card__tag">LinkedIn</span>
                </div>

                <a href="#" class="service-card__btn open-modal">Подробнее</a>
            </article>

            <article class="service-card">
                <h3 class="service-card__title">SMM-продвижение</h3>

                <p class="service-card__text">
                    Повышайте узнаваемость бренда, репутацию и доверие целевой
                    аудитории. Продвигайтесь там, где ваши клиенты видят вас
                    каждый день.
                </p>

                <div class="service-card__tags">
                    <span class="service-card__tag">Instagram</span>
                    <span class="service-card__tag">LinkedIn</span>
                    <span class="service-card__tag">Threads</span>
                </div>

                <a href="#" class="service-card__btn open-modal">Подробнее</a>
            </article>
        </div>
    </div>
</section>
