{% extends 'base.html' %} 
{% load static %} 
{% block title %}Кейсы | NML Digital{% endblock %} 
{% block content %}
<section class="contacts-section">
    <div class="container">
        <div class="contacts-section__top">
            <div class="contacts-section__head">
                <p class="contacts-section__label">
                    Найдём решение для вашего бизнеса на бесплатной консультации
                </p>
                <h2 class="contacts-section__title">Наши контакты</h2>
            </div>

            <a href="#" class="contacts-section__cta open-modal"
                >Бесплатная консультация</a
            >
        </div>
        <div class="contacts-section__line">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="contacts-section__grid">
            <div class="contact-card">
                <h3 class="contact-card__title">Корпоративная почта</h3>
                <a
                    href="mailto:{{ contacts.email }}"
                    class="contact-card__link"
                >
                    {{ contacts.email }}
                </a>
            </div>

            <div class="contact-card">
                <h3 class="contact-card__title">Корпоративный телефон</h3>
                <a href="tel:{{ contacts.phone }}" class="contact-card__link">
                    {{ contacts.phone }}
                </a>
            </div>

            <div class="contact-card">
                <h3 class="contact-card__title">Telegram</h3>
                <a href="{{ contacts.telegram }}" class="contact-card__link">
                    {{ contacts.telegram }}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="socials">
    <div class="container">
        <div class="socials__top">
            <div class="socials__head">
                <p class="socials__label">Узнайте о нас больше!</p>
                <h2 class="socials__title">Наши социальные сети</h2>
            </div>
            <div class="socials__note">
                Делимся собственным опытом, новостями, кейсами, аналитикой и
                предложениями.
            </div>
        </div>
        <div class="socials__grid">
            <div class="social-card">
                <h3>Instagram</h3>
                <a href="{{ contacts.instagram }}" class="social-btn"
                    >Ознакомиться</a
                >
            </div>

            <div class="social-card">
                <h3>Telegram</h3>
                <a href="{{ contacts.telegram_channel }}" class="social-btn"
                    >Ознакомиться</a
                >
            </div>

            <div class="social-card">
                <h3>Threads</h3>
                <a href="{{ contacts.threads  }}" class="social-btn"
                    >Ознакомиться</a
                >
            </div>
        </div>
    </div>
</section>

<section class="contact-cta">
    <div class="container">
        <div class="contact-cta__grid">
            <div class="contact-cta__info">
                <div class="contact-cta__label">Последний шаг к результату</div>

                <h2 class="contact-cta__title">
                    Получите бесплатную консультацию и аудит
                </h2>

                <ul class="contact-cta__list">
                    <li class="contact-cta__item">
                        <span class="contact-cta__icon">✓</span>
                        <span>Быстро свяжемся — в течение 2 часов</span>
                    </li>

                    <li class="contact-cta__item">
                        <span class="contact-cta__icon">✓</span>
                        <span
                            >Объясним, как именно привлечь больше клиентов</span
                        >
                    </li>

                    <li class="contact-cta__item">
                        <span class="contact-cta__icon">✓</span>
                        <span
                            >Покажем, что действительно работает для вашего
                            бизнеса</span
                        >
                    </li>

                    <li class="contact-cta__item">
                        <span class="contact-cta__icon">✓</span>
                        <span>Предложим решение, которое дает результат</span>
                    </li>
                </ul>
            </div>

            <div class="contact-form-box">
                <h3 class="contact-form-box__title">Заполните форму</h3>

                <form class="contact-form" action="#" method="post">
                    <div class="contact-form__group">
                        <label class="contact-form__label" for="name"
                            >Ваше имя</label
                        >
                        <input
                            class="contact-form__input"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Сергей Иванов"
                        />
                    </div>

                    <div class="contact-form__group">
                        <label class="contact-form__label" for="email"
                            >Email</label
                        >
                        <input
                            class="contact-form__input"
                            type="email"
                            id="email"
                            name="email"
                            placeholder="mail@example.com"
                        />
                    </div>

                    <div class="contact-form__group">
                        <label class="contact-form__label" for="website"
                            >Ваш сайт</label
                        >
                        <input
                            class="contact-form__input"
                            type="text"
                            id="website"
                            name="website"
                            placeholder="https://your-website.com"
                        />
                    </div>

                    <button class="contact-form__button" type="submit">
                        Начать
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}
