{% extends 'base.html' %} {% load static %} {% block title %}Кейсы | NML
Digital{% endblock %} {% block content %}
<section class="contacts-section">
    <div class="container">
        <div class="contacts-section__top">
            <div class="contacts-section__head">
                <p class="contacts-section__label">
                    Найдём решение для вашего бизнеса на бесплатной консультации
                </p>
                <h2 class="contacts-section__title">Наши контакты</h2>
            </div>

            <a href="#" class="contacts-section__cta open-modal"
                >Бесплатная консультация</a
            >
        </div>
        <div class="contacts-section__line">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="contacts-section__grid">
            <div class="contact-card">
                <h3 class="contact-card__title">Корпоративная почта</h3>
                <a
                    href="mailto:{{ contacts.email }}"
                    class="contact-card__link"
                >
                    {{ contacts.email }}
                </a>
            </div>

            <div class="contact-card">
                <h3 class="contact-card__title">Корпоративный телефон</h3>
                <a href="tel:{{ contacts.phone }}" class="contact-card__link">
                    {{ contacts.phone }}
                </a>
            </div>

            <div class="contact-card">
                <h3 class="contact-card__title">Telegram</h3>
                <a href="{{ contacts.telegram }}" class="contact-card__link">
                    {{ contacts.telegram }}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="socials">
    <div class="container">
        <div class="socials__top">
            <div class="socials__head">
                <p class="socials__label">Узнайте о нас больше!</p>
                <h2 class="socials__title">Наши социальные сети</h2>
            </div>
            <div class="socials__note">
                Делимся собственным опытом, новостями, кейсами, аналитикой и
                предложениями.
            </div>
        </div>
        <div class="socials__grid">
            <div class="social-card">
                <h3>Instagram</h3>
                <a href="{{ contacts.instagram }}" class="social-btn"
                    >Ознакомиться</a
                >
            </div>

            <div class="social-card">
                <h3>Telegram</h3>
                <a href="{{ contacts.telegram_channel }}" class="social-btn"
                    >Ознакомиться</a
                >
            </div>

            <div class="social-card">
                <h3>Threads</h3>
                <a href="{{ contacts.threads  }}" class="social-btn"
                    >Ознакомиться</a
                >
            </div>
        </div>
    </div>
</section>

{% endblock %}
